{% include "components/header.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/setting.css' %}" />


<div class="logout-container">

  <h2 class="settings-title">&gt;&gt; Settings</h2>

  <p class="logout-message">
    このアカウントから<br>
    ログアウトしますか？
  </p>

  <div class="logout-card">
    <p><strong>Name:</strong> {{ request.user.display_name }}</p>
    <p><strong>Email:</strong> {{ request.user.email }}</p>
    <p><strong>Team:</strong> {{ request.user.team_membership.team.name }}</p>
  </div>

  <form method="post" action="#">
    {% csrf_token %}
    <button type="submit" class="logout-button">
      Log out
    </button>
  </form>

  <div class="cancel-area">
    <a href="#" class="cancel-link">
      Cancel
    </a>
  </div>

</div>
 {% include "components/footer.html" %}
